<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>abacate</key>
	<string>🥑</string>
	<key>abobora</key>
	<string>🎃</string>
	<key>acucar</key>
	<string>🧂</string>
	<key>açúcar</key>
	<string>🧂</string>
	<key>agua</key>
	<string>💧</string>
	<key>água</key>
	<string>💧</string>
	<key>alcool</key>
	<string>🧴</string>
	<key>alface</key>
	<string>🥬</string>
	<key>alho</key>
	<string>🧄</string>
	<key>arroz</key>
	<string>🍚</string>
	<key>azeite</key>
	<string>🫒</string>
	<key>banana</key>
	<string>🍌</string>
	<key>batata</key>
	<string>🥔</string>
	<key>bebida</key>
	<string>🥤</string>
	<key>biscoito</key>
	<string>🍪</string>
	<key>bolo</key>
	<string>🎂</string>
	<key>cafe</key>
	<string>☕</string>
	<key>café</key>
	<string>☕</string>
	<key>carne</key>
	<string>🥩</string>
	<key>cebola</key>
	<string>🧅</string>
	<key>cenoura</key>
	<string>🥕</string>
	<key>cerveja</key>
	<string>🍺</string>
	<key>chocolate</key>
	<string>🍫</string>
	<key>coco</key>
	<string>🥥</string>
	<key>ervilha</key>
	<string>🫛</string>
	<key>feijao</key>
	<string>🫘</string>
	<key>feijão</key>
	<string>🫘</string>
	<key>frango</key>
	<string>🍗</string>
	<key>gelado</key>
	<string>🍦</string>
	<key>iogurte</key>
	<string>🥛</string>
	<key>laranja</key>
	<string>🍊</string>
	<key>leite</key>
	<string>🥛</string>
	<key>limao</key>
	<string>🍋</string>
	<key>limão</key>
	<string>🍋</string>
	<key>maca</key>
	<string>🍎</string>
	<key>maçã</key>
	<string>🍎</string>
	<key>manga</key>
	<string>🥭</string>
	<key>manteiga</key>
	<string>🧈</string>
	<key>melancia</key>
	<string>🍉</string>
	<key>melao</key>
	<string>🍈</string>
	<key>melão</key>
	<string>🍈</string>
	<key>morango</key>
	<string>🍓</string>
	<key>oleo</key>
	<string>🫒</string>
	<key>óleo</key>
	<string>🫒</string>
	<key>ovo</key>
	<string>🥚</string>
	<key>ovos</key>
	<string>🥚</string>
	<key>pao</key>
	<string>🍞</string>
	<key>pão</key>
	<string>🍞</string>
	<key>pasta</key>
	<string>🍝</string>
	<key>peixe</key>
	<string>🐟</string>
	<key>pimentao</key>
	<string>🫑</string>
	<key>pimentão</key>
	<string>🫑</string>
	<key>queijo</key>
	<string>🧀</string>
	<key>sal</key>
	<string>🧂</string>
	<key>salsicha</key>
	<string>🌭</string>
	<key>suco</key>
	<string>🧃</string>
	<key>sumo</key>
	<string>🧃</string>
	<key>tomate</key>
	<string>🍅</string>
	<key>uva</key>
	<string>🍇</string>
	<key>vinho</key>
	<string>🍷</string>
</dict>
</plist>
